<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="{{ url_for('static', path='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- <link href="{{ url_for('static', path='css/basetheme.css') }}" rel="stylesheet"> -->
        {% block header %}
        {% endblock %}
    </head>
    <body style="background-color: #212136;">
        <nav class="navbar navbar-expand-xl navbar-dark bg-dark" height="56px">
            <div class="collapse navbar-collapse text-dark" id="navbarSupportedContent">
                <a class="navbar-brand" href="{{ home_page_url }}">
                    ONUW
                    <span class="sr-only">
                        (current)
                    </span>
                </a>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ bot_page_url }}">
                            Bot
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ commands_page_url }}">
                            Commands
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ config_page_url }}">
                            Game Configurations
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item mr-1">
                        <a class="btn btn-outline-warning" role="button" href="{{ home_page_url }}">
                            Donate
                        </a>
                    </li>
                    <li class="nav-item mr-1">
                        <a class="btn btn-outline-warning" role="button" href="{{ discord_oauth2_join_url }}">
                            Add to Server
                        </a>
                    </li>
                    {% if user_exists %}
                    <li class="nav-item mr-1">
                        <a href="{{ home_page_url }}">
                            <img src="{{ user_avatar_url }}" height="38px" width="38px">
                        </a>
                    </li>
                    <li class="nav-item mr-1 my-auto">
                        <a class="text-warning" href="{{ home_page_url }}">
                            {{ user_name }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-danger" role="button" href="{{ discord_oauth2_logout_url }}">
                            Logout
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="btn btn-outline-warning" role="button" href="{{ discord_oauth2_login_url }}">
                            Login with Discord
                        </a>
                    {% endif %}
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container" id="body">
            <div class="row" id="layout">
                <div class="col" id="content-section">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <!-- <div class="alert alert-dismissable alert-dark" role="alert"
        style="position: fixed; bottom: 0; left: 0; width: 100%">
            HELLO WOLRD
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div> -->
        <script src="{{ url_for('static', path='bootstrap/js/jquery-3.5.1.slim.min.js') }}"></script>
        <script src="{{ url_for('static', path='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    </body>
</html>