{% extends "base.html" %}
{% block header %}
{% endblock %}
{% block body %}
<div class="text-light">
    <div class="jumbotron" style="background-color: transparent;">
        <h5 class="display-4">onuwbot</h5>
        <p class="lead">Play One Night Ultimate Werewolf games in discord.</p>
    </div>
    <p>
        Create your card deck and customize options - such as the duration of the day phase or if Lone Wolf is allowed - for your game.
    </p>
    <p>
        Save your card deck and options into a game configuration for later use if you don't want to keep remaking card decks and specifying options every time
        you create a game!
    </p>
</div>
{% endblock %}
